@font-face {
    font-family: Minecraft-Five;
    src:
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Five.woff?v=5614334983926852670") format("woff"),
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Five.woff2?v=13845558857098071365") format("woff2");
}

@font-face {
    font-family: Minecraft-Five-Bold;
    src:
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Five-Bold.woff?v=8990678537735192219") format("woff"),
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Five-Bold.woff2?v=3529785784940212046") format("woff2");
}

@font-face {
    font-family: Minecraft-Seven;
    src:
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Seven.woff?v=1514746815451326808") format("woff"),
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Seven.woff2?v=6559445033338329938") format("woff2");
}

@font-face {
    font-family: Minecraft-Ten;
    src:
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Ten.woff?v=11774051925293425896") format("woff"),
            url("//cdn.shopify.com/s/files/1/0266/4841/2351/t/18/assets/Minecraft-Ten.woff2?v=13208859514240966126") format("woff2");
}
