@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

:root {
    --background-color: #101010;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.25);
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: transitionIn 3s;
    background-color: var(--background-color);
    font-family: Inter, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #a5c7f8;
}

article {
    opacity: 0;
    transform: translateY(25px) scale(0.9);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

article.animate {
    opacity: 1;
    transform: translateY(0) scale(1);
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: rgba(255, 255, 255, 0.18);
    display: flex;
    min-width: 120px;
    min-height: 44px;
    vertical-align: middle;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    width: 100%;
    border-style: none;
}

button * {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: white;
}

button a {
    padding: 0.7rem;
}

button a:hover {
    color: white;
}

button:hover {
    color: white;
    background: #bebebe;
    box-shadow: 0 15px 20px rgba(185, 185, 185, 0.18);
    transform: translateY(-3px);
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.transition-colors {
    transition-property:
            color,
            background-color,
            border-color,
            text-decoration-color,
            fill,
            stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

/* Toasts */

@media (max-width: 570px) {
    .toasts {
        width: 100%;
    }

    .toast {
        width: 100%;
        justify-content: center;
    }
}

.toasts {
    line-height: 2;
    gap: 1.25rem;
    padding: 1.5rem;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.toast {
    color: white;
    font-weight: bold;
    padding: .75rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 1.5rem;
    display: inline-flex;
    animation: transitionIn 1s, transitionOut 2s 2s;
}

.toast.green {
    background-color: rgb(22 163 74 / 54%);
}

.toast.yellow {
    background-color: rgba(163, 123, 22, 0.54);
}

.toast.red {
    background-color: rgba(163, 22, 22, 0.54);
}

/* Header */

header {
    width: 100%;
    margin: 1rem 0 3rem;
}

header .page-bg {
    height: 90vh;
    background: linear-gradient(
            var(--background-color),
            rgba(0, 0, 0, 0.2),
            transparent,
            rgba(0, 0, 0, 0.2),
            var(--background-color)
    ), url(../assets/img/bg-wool-dark.png) bottom no-repeat;
    background-size: cover;
    z-index: -1;
}

header div.logo {
    height: 100%;
    max-width: 603px;
    display: flex;
    align-items: center;
    margin: auto;
}

header div.logo img {
    width: 100%;
    padding: 20%;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.scroll-down {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    height: 3rem;
    animation: bounce 3s infinite 3s;
}

.scroll-down * {
    display: block;
    background-image: url(../assets/img/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: 50%;
    height: 100%;
    width: 3rem;
    margin: auto;
}

/* Main */

main {
    width: 100%;
    margin: 6rem 0 3rem;
}

main .content {
    font-weight: 200;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1rem;
}

@media (max-width: 930px) {
    .card-info {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 930px) {
    .card-info {
        flex-direction: row;
    }

    .card-info.reverse {
        flex-direction: row-reverse
    }
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 64rem;
    margin: auto auto 7rem;
}

.card-info img {
    width: 100%;
    max-width: 32rem;
}

.card-info .text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a6a6a6;
}

.card-info .text h1 {
    font-family: Minecraft-Ten, serif;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1.25;
    text-shadow: 5px 5px 0 rgba(168, 168, 168, 0.74);
    margin: 20px 0;
    color: white;
}

.card-info .text p {
    margin-bottom: 2rem;
}

/* Discord card-info */

.card-info.discord h1 {
    color: #5768ba;
    text-shadow: 5px 5px 0 #1b2761bd;
}

.card-info.discord .text {
    color: #a0a7c3;
}

.card-info.discord button {
    background: #484bd62e;
}

.card-info.discord button:hover {
    background: #484bd6;
    box-shadow: 0 15px 20px #484bd62e;
}

/* Info card-info */

.card-info.info h1 {
    color: #ffb75e;
    text-shadow: 5px 5px 0 #a54b0a;
}

.card-info.info .text {
    color: #a39078;
}

.card-info.info button {
    background: #ff71003d;
    cursor: pointer;
}

.card-info.info button:hover {
    background: #e3731b;
    box-shadow: 0 15px 20px #ff71003d;
}

/* Team */

@media (min-width: 992px) {
    .team {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .team .info {
        padding: 2rem 1rem 2rem 3rem;
    }

    .team .info .head-list {
        padding-right: 2rem;
    }

    .team .info .personal-info .about {
        flex-direction: row;
    }

    .team .info .personal-info .about .name {
        margin-right: .75rem;
    }
}

@media (max-width: 992px) {
    .team {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .team .info {
        padding: 1rem;
    }

    .team .skin {
        height: 26rem;
    }

    .team .info .personal-info {
        text-align: center;
    }

    .team .info .personal-info .about {
        flex-direction: column;
    }
}

.fadeText-enter-active,.fadeText-leave-active {
    transition: opacity .5s ease;
}

.fadeText-leave-active {
    position: absolute;
    top: 0;
    left: 0;
}

.fadeText-enter-from,.fadeText-leave-to {
    opacity: 0;
}

.fadeImg-enter-active, .fadeImg-leave-active {
    transition: opacity .35s ease, transform .35s ease;
}

.fadeImg-leave-active {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fadeImg-enter-from, .fadeImg-leave-to {
    opacity: 0;
    transform: translateY(20%);
}

.team {
    background: rgb(23 23 23);
    border-radius: 1.5rem;
    width: 100%;
    margin: auto auto 8rem;
    max-width: 1100px;
    position: relative;
}

.team .info {
    width: 100%;
    grid-column: span 3/span 3;
    border-radius: 1.5rem;
    background: #161616;
}

.team .info .personal-info {
    position: relative;
    margin: 1rem 2rem 0;
}

.team .info .personal-info > *:not(.selected) {
    display: none;
}

.team .info .personal-info .about {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.team .info .personal-info .about .name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .25rem;
}

.team .info .personal-info .about .job-title {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    padding: .25rem .75rem;
    background-color: currentColor;
    border-radius: .375rem;
    margin-bottom: .5rem;
}

.team .info .personal-info .text {
    font-weight: 400;
    font-size: 1.125rem;
    word-wrap: break-word;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    margin: 0;
    color: #ffffffad;
}

.team .info .head-list {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .info .head-list .heads {
    position: relative;
    width: 21rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.team .info .head-list .heads .head {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    border-radius: .125rem;
    height: 32px;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    user-select: none;
    cursor: pointer;
}

.team .info .head-list .heads .head.selected {
    transform: translateY(-0.5rem);
}

.team .info .head-list .arrow {
    color: white;
    padding: .25rem;
    margin-left: .37rem;
    margin-right: .37rem;
    cursor: pointer;
    width: 32px;
    height: 32px;
    user-select: none;
}

.team .info .head-list .arrow:before {
    content: "";
    display: block;
    background-size: 24px;
    background: url(../assets/img/down-arrow.svg) no-repeat 50%;
    height: 24px;
    width: 24px;
}

.team .skin {
    grid-column: span 2/span 2;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.team .skin * {
    background-repeat: no-repeat;
    background-position: center top 41px;
    background-size: 77% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
}

.team .skin *:not(.selected) {
    display: none;
}

/* Screen-gallery */

.screen-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(23 23 23);
    border-radius: 1.5rem;
    width: 100%;
    margin: auto auto 1rem;
    max-width: 1100px;
    position: relative;
}

.screen-gallery .image-panel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
}

.screen-gallery .image-panel .screenshot-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 29rem;
    transition: transform 0.5s ease-in-out, opacity 0.35s ease-in-out;
    opacity: 0;
}

.screen-gallery .image-panel .screenshot-img:hover {
    transform: scale(1.05);
}

.screen-gallery .image-panel .button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32%;
    margin: 1rem;
    padding: 0.35rem;
    cursor: pointer;
    transition-duration: 0.5s;
    border-color: rgb(255 255 255 / 29%);
    border-style: solid;
    background-color: transparent;
}

.screen-gallery .image-panel .button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transform: none;
}

.screen-gallery .image-panel .button.dark {
    border-color: rgb(0 0 0 / 29%);
    color: rgb(0 0 0 / 81%);
    background-color: #00000038;
}

.screen-gallery .image-panel .button.dark:hover {
    color: white;
    background: rgba(0, 0, 0, 0.72);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.32);
    transform: none;
}

.screen-gallery .image-panel .button.dark * {
    color: currentColor;
}

@media (max-width: 992px) {
    .screen-gallery .image-panel .button {
        width: 90%;
        margin: 1rem auto;
        left: 0;
    }
}

/* Footer */

@media (max-width: 768px) {
    footer {
        margin: 6%;
    }

    footer .content {
        flex-direction: column;
    }

    footer .author {
        padding-bottom: 0.5rem;
        padding-top: 1rem;
        flex-direction: column;
        text-align: center;
    }

    footer a.logo {
        width: 40%;
    }

    footer .mr {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    footer {
        margin: 3%;
    }

    footer hr {
        display: none;
    }

    footer a.logo {
        width: 11%;
        margin-right: 2.5rem;
    }

    footer .mr {
        margin-right: 1.5rem;
    }
}

footer {
    width: 100%;
    max-width: 90rem;
    font-weight: 200;
}

footer .content {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 1.5rem;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1rem 2.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.16);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 33%;
}

footer .author {
    display: flex;
    align-items: center;
}

footer .author * {
    margin: 0;
}

footer .links {
    font-size: .875rem;
    line-height: 1.25rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

footer .links li {
    margin: 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
}

footer .logo img {
    width: 75%;
}
