@import url('./fonts/golos.css');

@keyframes toastIn {
    from {
        opacity: 0;
        transform: translateY(25px) scale(.9);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes toastOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(.9);
    }
}

@media (max-width: 570px) {
    .toasts {
        width: 100%;
    }

    .toast {
        width: 100%;
        justify-content: center;
    }
}

.toasts {
    line-height: 2;
    gap: 1.25rem;
    padding: 1.5rem;
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.toast {
    color: white;
    font-weight: bold;
    padding: .75rem 1.5rem;
    background-color: #FFFFFF89;
    border-radius: 1.5rem;
    display: inline-flex;
    backdrop-filter: blur(1rem);
    animation: toastIn 1s, toastOut 2s 2s;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.toast.info {
    background-color: #4242427F
}

.toast.success {
    background-color: #16A34A7F
}

.toast.warning {
    background-color: #A37B167F
}

.toast.error {
    background-color: #A316167F
}

@keyframes transitionIn {
    from { opacity: 0 }

    to { opacity: 1 }
}

@keyframes transitionOut {
    from { opacity: 1 }

    to { opacity: 0 }
}

:root {
    --background-color: #101010;
    --font-family: 'Golos Text', sans-serif;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF0C;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #FFFFFF3F;
}

*:focus {
    outline: none;
}

*, :after, :before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: transitionIn 3s;
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #a5c7f8 !important;
    fill: #93a6ad !important;
}

article {
    opacity: 0;
    transform: translateY(25px) scale(.9);
    transition: opacity .5s ease, transform .5s ease;
}

article.animate {
    opacity: 1;
    transform: translateY(0) scale(1);
}

menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: #FFFFFF2D;
    display: flex;
    min-width: 120px;
    min-height: 44px;
    vertical-align: middle;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    box-shadow: 0 8px 15px #0000;
    transition: .3s;
    width: 100%;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: white;
    user-select: none;
    -webkit-user-select: none;
}

button:hover {
    color: white;
    background: #bebebe;
    box-shadow: 0 6px 35px #E5E5E53D;
    transform: translateY(-3px);
}

button a {
    padding: .7rem;
}

button a:hover {
    color: white;
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.transition-colors {
    transition-property:
            color,
            background-color,
            border-color,
            text-decoration-color,
            fill,
            stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

/* Header */

header {
    width: 100%;
    margin: 1rem 0 3rem;
}

header .page-bg {
    height: 90vh;
    background: linear-gradient(
            var(--background-color),
            #00000033,
            transparent,
            #00000033,
            var(--background-color)
    ), url(./img/bg-wool-dark.webp) bottom no-repeat;
    background-size: cover;
    z-index: -1;
}

header div.logo {
    height: 100%;
    max-width: 603px;
    display: flex;
    align-items: center;
    margin: auto;
}

header div.logo img {
    width: 100%;
    padding: 20%;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.scroll-down {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    height: 3rem;
    animation: bounce 3s infinite 3s;
}

.scroll-down * {
    display: block;
    background-image: url(./img/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: 50%;
    height: 100%;
    width: 3rem;
    margin: auto;
}

/* Navbar */

nav {
    width: 100%;
    margin-top: 1.5rem;
    max-width: 90rem;
    position: fixed;
    z-index: 1000;
}

nav .content {
    background-color: #19191996;
    backdrop-filter: blur(1rem);
    border-radius: 1.5rem;
    margin: 0 6%;
    padding: 1rem 2.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .content ul {
    display: flex;
    align-items: center;
}

nav .hamburger {
    cursor: pointer;
}

nav button {
    background: #88878754;
    padding: 0 1.5rem;
    border-radius: 1rem;
}

nav button:hover {
    background: #757575BF;
    box-shadow: 0 0 25px #E5E5E53D;
    transform: unset;
}

nav .content .ip-button {
    background: #4b486954;
}

nav .content .ip-button:hover {
    background: #4b4869bf;
    box-shadow: 0 0 25px #A9A3F833;
}

nav .logo img {
    height: 3rem;
    margin-right: 1rem;
}

@media (max-width: 1234px) {
    nav .content.open {
        max-height: 1000px;
        transition: max-height .25s ease-in;
    }

    nav .content {
        flex-wrap: wrap;
        max-height: 100px;
        transition: max-height .28s ease-out;
    }

    nav li {
        width: 100%;
    }

    nav li button {
        display: flex;
        height: 4rem;
    }

    nav li .logo {
        display: none;
    }

    nav li .ip-button {
        display: flex;
    }

    nav .ip-button {
        display: none;
    }

    nav .content ul.open {
        display: flex;
        margin: 1.5rem 0;
        animation: transitionIn .35s;
    }

    nav .content ul {
        width: 100%;
        flex-direction: column;
        transition: margin .25s ease-out;
        animation: transitionOut .25s;
        display: none;
    }

    nav .m {
        margin-top: .75rem;
    }

    nav .ip-button {
        margin-top: 1.75rem;
    }
}

@media (min-width: 1234px) {
    nav .hamburger {
        display: none;
    }

    nav li .logo {
        display: flex;
    }

    nav li .ip-button {
        display: none;
    }

    nav .logo {
        display: none;
    }

    nav .ip-button{
        display: flex;
        width: 20rem;
    }

    nav .m {
        margin-left: .75rem;
    }
}

/* Main */

main {
    width: 100%;
    margin: 6rem 0 3rem;
}

main .content {
    font-weight: 200;
    margin: 0 4%;
    padding: 1rem;
}

@media (max-width: 930px) {
    .card-info {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 930px) {
    .card-info {
        flex-direction: row;
    }

    .card-info.reverse {
        flex-direction: row-reverse
    }
}

.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 64rem;
    margin: auto auto 7rem;
}

.card-info img {
    width: 100%;
    max-width: 32rem;
}

.card-info .text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 1px;
    color: #a6a6a6;
}

.card-info .text h1 {
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1.25;
    margin: 20px 0;
    color: white;
}

.card-info .text p {
    margin-bottom: 2rem;
}

/* Discord card-info */

.card-info.discord h1 {
    color: #5768ba;
}

.card-info.discord .text {
    color: #a0a7c3;
}

.card-info.discord button {
    background: #484bd62e;
}

.card-info.discord button:hover {
    background: #484BD66C;
    box-shadow: 0 6px 35px #484BD654;
}

/* Info card-info */

.card-info.info h1 {
    color: #e5f4fa;
}

.card-info.info .text {
    color: #93a6ad;
}

.card-info.info button {
    background: #4b486954;
    cursor: pointer;
}

.card-info.info button:hover {
    background: #4b4869bf;
    box-shadow: 0 6px 35px #A9A3F833;
}

/* Team */

@media (min-width: 992px) {
    .team {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .team .info {
        padding: 2rem 1rem 2rem 3rem;
    }

    .team .info .head-list {
        padding-right: 2rem;
    }

    .team .info .personal-info .about {
        flex-direction: row;
    }

    .team .info .personal-info .about .name {
        margin-right: .75rem;
    }
}

@media (max-width: 992px) {
    .team {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .team .info {
        padding: 1rem;
    }

    .team .skin {
        height: 26rem;
    }

    .team .info .personal-info {
        text-align: center;
    }

    .team .info .personal-info .about {
        flex-direction: column;
    }
}

.fadeText-enter-active,.fadeText-leave-active {
    transition: opacity .5s ease;
}

.fadeText-leave-active {
    position: absolute;
    top: 0;
    left: 0;
}

.fadeText-enter-from,.fadeText-leave-to {
    opacity: 0;
}

.fadeImg-enter-active, .fadeImg-leave-active {
    transition: opacity .35s ease, transform .35s ease;
}

.fadeImg-leave-active {
    position: absolute;
    bottom: 0;
    right: 0;
}

.fadeImg-enter-from, .fadeImg-leave-to {
    opacity: 0;
    transform: translateY(20%);
}

.team {
    background: #171717FF;
    border-radius: 1.5rem;
    width: 100%;
    margin: auto auto 10rem;
    max-width: 1100px;
    position: relative;
}

.team .info {
    width: 100%;
    grid-column: span 3/span 3;
    border-radius: 1.5rem;
    background: #161616;
}

.team .info .personal-info {
    position: relative;
    margin: 1rem 2rem 0;
}

.team .info .personal-info > *:not(.selected) {
    display: none;
}

.team .info .personal-info .about {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.team .info .personal-info .about .name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .25rem;
}

.team .info .personal-info .about .job-title {
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    padding: .25rem .75rem;
    background-color: currentColor;
    border-radius: .375rem;
    margin-bottom: .5rem;
}

.team .info .personal-info .text {
    font-weight: 400;
    font-size: 1.125rem;
    word-wrap: break-word;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    margin: 0;
    color: #ffffffad;
}

.team .info .head-list {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .info .head-list .heads {
    position: relative;
    width: 21rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.team .info .head-list .heads .head {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    border-radius: .125rem;
    height: 32px;
    margin: 0 .25rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.team .info .head-list .heads .head.selected {
    transform: translateY(-.5rem);
}

.team .info .head-list .arrow {
    color: white;
    padding: .25rem;
    margin: 0 .37rem;
    cursor: pointer;
    width: 32px;
    height: 32px;
    -webkit-user-select: none;
    user-select: none;
}

.team .info .head-list .arrow:before {
    content: '';
    display: block;
    background-size: 24px;
    background: url(./img/down-arrow.svg) no-repeat 50%;
    height: 24px;
    width: 24px;
}

.team .skin {
    grid-column: span 2/span 2;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.team .skin * {
    background-repeat: no-repeat;
    background-position: center top 41px;
    background-size: 77% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
}

.team .skin *:not(.selected) {
    display: none;
}

/* FAQ */

@media (max-width: 1024px) {
    .faq {
        flex-wrap: wrap;
    }

    .faq .help {
        width: 100%;
        margin-top: 4rem;
    }
}

@media (min-width: 1024px) {
    .faq {
        padding: 0 3rem;
    }

    .faq .help {
        width: 75%;
        margin-left: 6rem;
    }
}

.faq {
    width: 100%;
    padding: 0;
    margin: auto auto 10rem;
    max-width: 1100px;
    position: relative;
    display: flex;
    transition: all .5s ease-in-out;
}

.faq .faq-master {
    width: 100%;
}

.faq .faq-master .item {
    border-radius: 0;
    border-bottom: 1px solid #8080802b;
    padding-bottom: 1rem;
}

.faq .faq-master .item:first-child {
    border-top: 1px solid #8080802b;
}

.faq .faq-master .item button {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1rem 24px 0;
    background: none;
    box-shadow: unset;
}

.faq .faq-master .item button:hover {
    background: none;
    box-shadow: none;
    transform: unset;
}

.faq .faq-master .item button img {
    width: 24px;
    transition: transform .25s ease-in-out;
}

.faq .faq-master .item button img.open {
    transform: rotate(180deg);
}

.faq .faq-master .item .text.open {
    opacity: 1;
    max-height: 1000px;
    transition: all 1s;
}

.faq .faq-master .item .text {
    opacity: 0;
    padding: 0 24px;
    margin: 0;
    flex-wrap: wrap;
    max-height: 0;
    transition: all .32s;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #ffffff8f;
}

.faq .help {
    height: 100%;
    padding: 3rem 0;
    background-color: #52525228;
    backdrop-filter: blur(1rem);
    border: 1px solid #FFFFFF14;
    border-radius: 2rem;
    transition: .4s;
}

.faq .help:hover {
    color: #fff !important;
    background-color: #5252522D;
}

.faq .help * {
    margin: 0 3rem;
}

.faq .help .link-icon {
    display: flex;
    margin: 0 3rem 0 auto;
    width: 2rem;
    height: 100%;
}

.faq .help .icon svg {
    height: 3.75rem;
    margin: 0 0 1.5rem;
}

.faq .help .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #ffffff;
}

.faq .help .description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #ffffff8f;
}

/* Screen-gallery */

.screen-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #171717FF;
    border-radius: 1.5rem;
    width: 100%;
    margin: auto auto 1rem;
    max-width: 1100px;
    position: relative;
}

.screen-gallery .image-panel {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    display: flex;
}

.screen-gallery .image-panel .screenshot-img {
    object-fit: cover;
    height: 29rem;
    width: 100%;
    transition: transform .5s ease-in-out, opacity .35s ease-in-out;
    opacity: 0;
}

.screen-gallery .image-panel .screenshot-img:hover {
    transform: scale(1.05);
}

.screen-gallery .image-panel .button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32%;
    margin: 1rem;
    padding: .35rem;
    cursor: pointer;
    transition-duration: .5s;
    border-color: #FFFFFF49;
    border-style: solid;
    background-color: transparent;
}

.screen-gallery .image-panel .button:hover {
    color: white;
    background: #FFFFFF2D;
    box-shadow: 0 8px 15px #00000019;
    transform: none;
}

.screen-gallery .image-panel .button.dark {
    border-color: #00000049;
    color: #000000CE;
    background-color: #00000038;
}

.screen-gallery .image-panel .button.dark:hover {
    color: white;
    background: #000000B7;
    box-shadow: 0 8px 15px #00000051;
    transform: none;
}

.screen-gallery .image-panel .button.dark * {
    color: currentColor;
}

@media (max-width: 992px) {
    .screen-gallery .image-panel .button {
        width: 90%;
        margin: 1rem auto;
        left: 0;
    }
}

/* Footer */

@media (max-width: 768px) {
    footer {
        margin: 6%;
    }

    footer .content {
        flex-direction: column;
    }

    footer .author {
        padding: 1rem 0 .5rem 0;
        flex-direction: column;
        text-align: center;
    }

    footer a.logo {
        width: 40%;
        margin-bottom: 1rem;
    }

    footer .mr {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    footer {
        margin: 3%;
    }

    footer hr {
        display: none;
    }

    footer a.logo {
        width: 11%;
        margin-right: 2.5rem;
    }

    footer .mr {
        margin-right: 1.5rem;
    }
}

footer {
    width: 100%;
    max-width: 90rem;
    font-weight: 200;
}

footer .content {
    background: #FFFFFF07;
    border-radius: 1.5rem;
    margin: 0 6%;
    padding: 1rem 2.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer hr {
    border-color: #FFFFFF28;
    margin: 1.5rem 0;
    width: 33%;
}

footer .author {
    display: flex;
    align-items: center;
}

footer .author * {
    margin: 0;
}

footer .links {
    font-size: .875rem;
    line-height: 1.25rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

footer .links li {
    margin: .75rem;
    height: 1.5rem;
    width: 1.5rem;
}

footer .logo img {
    width: 75%;
}

footer .disclaimer {
    font-size: .875rem;
    text-align: center;
    line-height: 1.25rem;
    color: #ffffff57;
    margin: 0 6%;
    padding: 2rem 1.5rem 0;
}
